# This file contains common configurations and pin mappings
# for the Flsun Q5 using the MKS Robin Nano board.

# To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, and serial (on
# USART3 PB11/PB10) communication.

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
# ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/ttyUSB2
restart_method: command

############ Settings for input shapper calibration ############ 

#[mcu rpi] # enable this to use ADX1345 accelerometer then disable
#serial: /tmp/klipper_host_mcu
#
#[adxl345] # enable this to use ADX1345 accelerometer then disable
#cs_pin: rpi:None
#
#[resonance_tester] # enable this to use ADX1345 accelerometer then disable
#accel_chip: adxl345
#probe_points:
#    0,0,20  # an example

#[input_shaper]

[virtual_sdcard]
path: ~/gcode_files2

[printer]
kinematics: delta
max_velocity: 400
max_accel: 2200
max_accel_to_decel:1100
max_z_velocity: 100
minimum_z_position: -20
#delta_radius: 105
print_radius: 105

[stepper_a]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: PA15
homing_speed: 50
homing_retract_dist: 5
homing_retract_speed: 10
second_homing_speed: 2
#position_endstop: 220
#arm_length: 215
#angle: 210

[stepper_b]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: PA12
#angle: 330

[stepper_c]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 40
endstop_pin: PC4
#angle: 90


[probe]
pin: !PA11
x_offset: 4 # you have to manually check this value
y_offset: -3 # you have to manually check this value
#z_offset: 24.221
speed: 10.0
samples: 5
samples_result: average
sample_retract_dist: 2
samples_tolerance: 0.1
samples_tolerance_retries: 5

[delta_calibrate]
radius: 100
horizontal_move_z: 25
Speed: 10

[bed_mesh]
speed: 10
horizontal_move_z: 25
mesh_radius: 75
mesh_origin: 0,0
round_probe_count: 9
#mesh_pps: 1, 1
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
split_delta_z: .025
fade_start: 1
fade_end: 10


[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 21.82
gear_ratio: 66:22
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_Kp: 18.547
pid_Ki: 0.788
pid_Kd: 109.193
min_temp: 0
max_temp: 250
max_extrude_only_distance: 700.0

#[verify_heater extruder]
#max_error: 450
#check_gain_time: 60
#hysteresis: 5
#heating_gain: 2

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10
min_temp: 0
max_temp: 130

[fan]
pin: PB1

# Screen not supported on Robin Nano 1.2
[static_digital_output display_reset]
pins: !PC6, !PD13

[display_status]

[input_shaper]
shaper_type_x = ei
shaper_freq_x = 36.4
shaper_type_y = ei
shaper_freq_y = 34.4

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  g28
  g29
  G1 E-20 F300
  POWER_OFF_PRINTER

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    #BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default


[gcode_macro START_PRINT]
gcode:
    M82 ;absolute extrusion mode
    G21
    G90
    M82
    M107 T0
    G28
    G29
    G1 X-98 Y0 Z0.4 F5000
    G92 E0
    G0 E3 F200
    SET_GCODE_OFFSET Z=0.02
    M106 S255 ; Enable cooling fan full speed
    G1 X-98 Y0 Z0.4 F3000 ; move to arc start
    G3 X0 Y-98 I98 Z0.4 E40 F400 ; lay arc stripe 90deg
    G92 E0 ; reset extrusion distance
    G4 P500 ; wait for 0.5 sec
    G0 Z10 E-2 ; Lift 15mm and retract 1mm filament
    G4 P2000 ; wait for 5 sec
    G0 Z15
    M107 ; Disable cooling fan
    G1 X0 Y-85 Z4 E0 F3000 ; get off the bed
    G29

[gcode_macro END_PRINT]
gcode:
    M104 S0
    M140 S0
    G92 E1
    G1 E-10 F300
    G28 X0 Y0
    G29
    M84
    M82 ;absolute extrusion mode
    M104 S0
    POWER_OFF_PRINTER

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power",
                             device="q52",
                             state="off")}

[gcode_macro POWER_ON_PRINTER]
gcode:
  {action_call_remote_method("set_device_power",
                             device="q52",
                             state="on")}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    # Home the printer
    G28
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Push forward
    G1 E15 F150
    # Unload filament
    G1 E-600 F1800
    # put the E axis into absolute mode
    M82
    # Disable steppers
    M84

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro LOAD_FILAMENT]
gcode:
    # Home the printer
    G28
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Fast load 
    G1 E550 F1800
    # Slow purge
    G1 E50 F150
    # Retract
    G1 E-8 F1800
    # put the E axis into absolute mode
    M82
    # Disable steppers
    M84
    
[gcode_macro PURGE_MORE]
gcode:
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Slow purge
    G1 E50 F150
    # Retract
    G1 E-8 F1800
    # put the E axis into absolute mode
    M82
    
#[gcode_macro m900]
#default_parameter_K: 0
#gcode:
#  SET_PRESSURE_ADVANCE ADVANCE={K}



[pause_resume]

#[gcode_macro M600] # didn't tested this yet
#default_parameter_X: 50
#default_parameter_Y: 0
#default_parameter_Z: 10
#gcode:
#    SAVE_GCODE_STATE NAME=M600_state
#    PAUSE
#    G91
#    G1 E-.8 F2700
#    G1 Z{Z}
#    G90
#    G1 X{X} Y{Y} F3000
#    G91
#    G1 E-50 F1000
#    RESTORE_GCODE_STATE NAME=M600_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 20.202
#*#
#*# [printer]
#*# delta_radius = 106.682622
#*#
#*# [stepper_a]
#*# angle = 210.109583
#*# arm_length = 217.270156
#*# position_endstop = 216.203156
#*#
#*# [stepper_b]
#*# angle = 331.224638
#*# arm_length = 214.764852
#*# position_endstop = 216.689234
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 213.980989
#*# position_endstop = 219.019519
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-1.351884, -1.351884, -1.351884, -1.351884, -1.351884, -1.351884, -1.351884, -1.351884, -1.351884
#*# 	-1.231194, -1.231194, -1.231194, -1.242826, -1.228771, -1.274923, -1.256035, -1.256035, -1.256035
#*# 	-1.180738, -1.180738, -1.196318, -1.182380, -1.207042, -1.187581, -1.176947, -1.176573, -1.176573
#*# 	-1.161377, -1.161377, -1.176966, -1.174286, -1.181873, -1.173169, -1.186776, -1.165319, -1.165319
#*# 	-1.193045, -1.197713, -1.189892, -1.187591, -1.203650, -1.190855, -1.198299, -1.152365, -1.118697
#*# 	-1.199826, -1.199826, -1.235211, -1.245176, -1.270351, -1.254856, -1.235473, -1.210966, -1.210966
#*# 	-1.208555, -1.208555, -1.240707, -1.260042, -1.292182, -1.321611, -1.317398, -1.295967, -1.295967
#*# 	-1.239208, -1.239208, -1.239208, -1.250580, -1.321853, -1.333478, -1.358347, -1.358347, -1.358347
#*# 	-1.285260, -1.285260, -1.285260, -1.285260, -1.285260, -1.285260, -1.285260, -1.285260, -1.285260
#*# tension = 0.1
#*# min_x = -75.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = -75.0
#*# x_count = 9
#*# max_y = 74.99
#*# mesh_x_pps = 2
#*# max_x = 75.0
#*#
#*# [delta_calibrate]
#*# height0 = 18.952
#*# height0_pos = 15776.000,15820.000,15990.000
#*# height1 = 18.952
#*# height1_pos = 20626.000,20627.000,13750.000
#*# height2 = 18.952
#*# height2_pos = 15485.400,23799.400,15670.800
#*# height3 = 18.952
#*# height3_pos = 13626.000,19945.000,20052.000
#*# height4 = 18.952
#*# height4_pos = 15236.600,15344.600,21168.800
#*# height5 = 18.952
#*# height5_pos = 18967.200,13743.200,19288.400
#*# height6 = 18.952
#*# height6_pos = 22018.200,15316.000,15545.000
#*# distance0 = 84.46
#*# distance0_pos1 = 17035.011,17487.009,17651.787
#*# distance0_pos2 = 15106.624,21940.723,22034.720
#*# distance1 = 84.7025
#*# distance1_pos1 = 17163.325,17219.558,17788.051
#*# distance1_pos2 = 16959.588,17106.013,25655.504
#*# distance2 = 84.19
#*# distance2_pos1 = 17426.532,17082.778,17651.787
#*# distance2_pos2 = 21646.018,15128.846,22034.720
#*# distance3 = 84.48
#*# distance3_pos1 = 17561.542,17209.829,17382.981
#*# distance3_pos2 = 25079.364,16957.547,17198.541
#*# distance4 = 84.4625
#*# distance4_pos1 = 17429.824,17477.103,17250.372
#*# distance4_pos2 = 21716.952,21723.872,15287.050
#*# distance5 = 84.218
#*# distance5_pos1 = 17166.559,17617.568,17382.981
#*# distance5_pos2 = 17008.964,25392.820,17198.541
#*# distance6 = 84.364
#*# distance6_pos1 = 15176.515,20942.232,21584.360
#*# distance6_pos2 = 17115.694,16867.102,25141.009
#*# distance7 = 83.9833333333
#*# distance7_pos1 = 17041.094,16786.456,24209.026
#*# distance7_pos2 = 21686.482,15148.574,21508.202
#*# distance8 = 84.9813333333
#*# distance8_pos1 = 21219.357,15196.675,21042.426
#*# distance8_pos2 = 24611.848,17115.484,16964.352
#*# distance9 = 83.96
#*# distance9_pos1 = 23746.283,17043.139,16888.441
#*# distance9_pos2 = 21209.669,21769.933,15311.175
#*# distance10 = 84.472
#*# distance10_pos1 = 20757.370,21295.827,15359.528
#*# distance10_pos2 = 16777.421,24900.225,17358.105
#*# distance11 = 83.918
#*# distance11_pos1 = 16701.285,23985.073,17280.211
#*# distance11_pos2 = 15128.938,21414.373,22074.680
